<!-- <h1>CryptoServ</h1> -->


<!-- <img class="profile" src="../cryptoserve/assets/images/avatar.png" alt="user picture">
    <p *ngIf="account.information.loggedIn" class="text-center bold">{{ account.information.username}}</p> -->


<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">

    <!-- Navbar brand -->
    <logo>
      <a class="navbar-brand" router-link="/account/settings">
        <img style="width:50px" src="../cryptoserve/assets/images/avatar.png" alt="user picture">
    </a>
  </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/account/settings" class="nav-link waves-light" mdbWavesEffect>Settings</a>
            </li>
            
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Account Services<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/login">Login</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/account/settings">Settings</a>
                </div>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                File Services<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/files/encrypt">Encrypt</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/files/decrypt">Decrypt</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/files/decrypt">Delete</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>

<router-outlet></router-outlet>