<!-- <h1>CryptoServ</h1> -->

<div id="left-menu">
  <div class="section">
    <img class="profile" src="../cryptoserve/assets/images/avatar.png" alt="user picture">
    <p *ngIf="account.information.loggedIn" class="text-center bold">{{ account.information.username}}</p>
  </div>

  <div class="section">
    <h3 class="title">Main</h3>
    <ul>
      <li class="active"><i class="fas fa-home"></i>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li><i class="fas fa-bell"></i>
        <a routerLink="/notifications">Alerts </a>
        <span>{{ notification.notifications.length }}</span>
      </li>
    </ul>
  </div>

  <div class="section">
    <h3 class="title">Account</h3>
    <ul>
      <li><i class="fas fa-address-card"></i>
        <a routerLink="/account/settings">Settings</a>
      </li>
      <li><i class="fas fa-sign-in-alt"></i>
        <a routerLink="/login">Login</a>
      </li>
    </ul>
  </div>

  <div class="section">
      <h3 class="title">API</h3>
      <ul>
        <li><i class="fas fa-code-branch"></i>
          <a routerLink="/api">Tokens</a>
        </li>
      </ul>
    </div>

  <div class="section">
    <h3 class="title">File</h3>
    <ul>
      <li><i class="fas fa-lock"></i>
        <a routerLink="/files/encrypt">Encrypt</a>
      </li>
      <li><i class="fas fa-file"></i>
        <a routerLink="/files/decrypt">Decrypt</a>
      </li>
    </ul>
  </div>

</div> <!-- end left-menu -->
<router-outlet></router-outlet>