/* You can add global styles to this file, and also import other style files */
$black: #212225; // selected bg
$mid: #363a44; // background
$grey: #5f5f60; // icons
$light: #bcc4ca; // headers / titles
$blue: #5a82a5; // headers / titles

* { padding: 0; margin: 0;}

body {
  background: $black;
  color: $light;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  color: $blue;
}